{% extends 'base.html' %}
{% block content %}
<div class="description">
    <div class="row my-5">
        <div class="col-md-9 mx-auto border border-success rounded border-2">
            <h2 class="text-center"> Ваш результат: {{result}} баллов</h2>
            <h5 class="text-center"> {{description}}</h5>
        </div>
    </div>
</div>
<div class="container-fluid">
    {% if groups_list %}
    <h4>Выберите место занятий: </h4>
    <div class="row my-5">
        <div class="col-md-9">
            <ul class="list-group">
                {% for group in groups_list %}
                {% if 'ОНЛАЙН' in group.level.level %}
                <li class="list-group-item list-group-item-dark" style="font-size: 25px"> {{group.level}}
                    <p><b>Номер группы: </b> {{group.uniq_id}}.</p>
                    <p>Занятия проходят он-лайн.</p>
                    <p><b>Расписание:</b> {{group.schedule_active}}</p>
                    <a class="btn btn-success btn-block btn-lg"
                       href=" {% url 'catalog:signup2group' group.id %}" role="button"
                       style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 1.75rem;">Записаться</a>
                </li>
                {% else %}
                <li class="list-group-item list-group-item-dark" style="font-size: 25px"> {{group.level}}
                    <p><b>Номер группы:</b>{{group.uniq_id}}.</p>
                    <p><b>Адрес:</b> {{ group.address }}</p>
                    <p><b>Расписание:</b> {{group.schedule_active}}</p>
                    <a class="btn btn-success btn-block btn-lg"
                       href=" {% url 'catalog:signup2group' group.id %}" role="button"
                       style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 1.75rem;">Записаться</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    {% else %}
    <div class="col-md-12">
        <img src="/static/images/ups.png" class="mx-auto d-block" width="400px">
        <h3>Мы ничего не нашли по вашему запросу.<br/>Попробуйте еще. </h3>
        {% endif %}
    </div>
</div>
<div class="container">
    {% if groups %}
    {% include "pagination.html" with page=groups_list %}
    {% endif %}
</div>
{% endblock %}
