{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">

    <div class="description">
        <div class="row my-5">
            <div class="col-md-9 mx-auto border border-success rounded border-2">
                <h4 class="text-center">{{description}}</h4>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-md-push-3">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel">
                    <img src="/static/users/images/babushka1.jpg" class="img-fluid img-thumbnail border border-success">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel">
                    <img src="/static/users/images/babushka2.jpg" class="img-fluid img-thumbnail border border-success">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel">
                    <img src="/static/users/images/babushka4.jpg" class="img-fluid img-thumbnail border border-success">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
