{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <h3>{{description}}</h3>
</div>
<div class="col-md-12 col-md-push-3">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel">
                <img src="/static/users/images/bab1.jpg" class="img-fluid img-thumbnail">">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel">
                <img src="/static/users/images/bab2.jpg" class="img-fluid img-thumbnail">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel">
                <img src="/static/users/images/bab3.jpg" class="img-fluid img-thumbnail">
            </div>
        </div>
    </div>
</div>
{% endblock %}
