{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container-fluid">
    <h1>{{ message }}</h1>
    <div class="row my-2">
        <div class="col-md-8">
            <form action="" method="post">
                {% csrf_token %}
                {{ address_form.media.js }}
                {% bootstrap_form form %}
                {% if address_form%}
                    {% bootstrap_form address_form %}
                {% endif %}
                <button type="submit" class="btn btn-success btn-block">Подтвердите</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

