{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container-fluid">
    <div class="row my-5">
        <h1 class="text-center">Выберите раздел по вкусу: </h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row my-5">
        <div class="col-md-3">
            <h3> {{ message }}</h3>
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-success btn-block">Искать</button>
            </form>
        </div>
    </div>
</div>

<div class="col-md-12 col-md-push-3">
    <div class="row">
        {% for activity_type in activity_types %}
        <div class="col-sm-4 text-center" >
            <a class="btn btn-success btn-block btn-lg"
               href="{% url 'catalog:type_content' activity_type.id %}" role="button"
               style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 2.75rem;">
                {{ activity_type.activity_type }}</a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="col-md-12 col-md-push-3">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel">
                <img src="/static/catalog/images/chess_play.jpg"
                     class="img-fluid img-thumbnail border border-success">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel">
                <img src="/static/catalog/images/play.jpg" class="img-fluid img-thumbnail border border-success">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel">
                <img src="/static/catalog/images/snow.jpg" class="img-fluid img-thumbnail border border-success">
            </div>
        </div>
    </div>
</div>
{% endblock %}

