{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row my-5">
        <h1 class="text-center">{{ message }}!</h1>
    </div>
    <div class="row my-3">
        <div class="col-md-6">
            {% include './group_details.html' %}
            <div class="container">
                <h3 class="text-center"><b>Дата: </b>{{ date_choice }}</h3>
                <h3 class="text-center"><b>Время: </b>{{group.start_time }} - {{ group.end_time }}</h3>
            </div>
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/success.png' %}" class="mx-auto d-block" width="500px">
        </div>
    </div>
</div>
{% endblock %}
