{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}

<div class="container-fluid">
    {% if groups %}
    <div class="row my-5">
        <div class="col-md-6">
            <h2>{{level3.level}}</h2>
            <br/>
            <h3>{{level3.descript_level}}</h3>
        </div>
    </div>
    <h4>Выберите место занятий:</h4>
    <br/>
    <ul class="list-group">
        {% for group in groups %}
        {% if 'ОНЛАЙН' in level3.level %}
        <li class="list-group-item list-group-item-dark" style="font-size: 25px">
            <p>Номер группы: {{group.uniq_id}}.</p>
            <p>Занятия проходят он-лайн.</p>
            <p>Расписание: {{group.schedule_active}}</p>
            <button class="auth_button" type="submit" name="form_auth_submit">Записаться</button>
        </li>
        {% else %}
        <li class="list-group-item list-group-item-dark" style="font-size: 25px">
            <p>Номер группы: {{group.uniq_id}}.</p>
            <p>Адрес: {{ group.address }}</p>
            <p>Расписание: {{group.schedule_active}}</p>
            <button class="auth_button" type="submit" name="form_auth_submit">Записаться</button>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    <div class="col-md-12">
        <img src="/static/images/ups.png" class="mx-auto d-block" width="400px">
        <h3>Мы ничего не нашли по вашему запросу.<br/>Попробуйте еще. </h3>
    </div>
    {% endif %}
</div>
<div class="container">
    {% if groups %}
    {% include "pagination.html" with page=groups %}
    {% endif %}
</div>
{% endblock %}
