{% extends 'base.html' %}
<h1> Каталог</h1>
{% block content %}
<div class="container-fluid">
    <h1>Выберите раздел по настроению: </h1>
</div>
<div class="container-fluid">
    <div class="row my-5">
        <div class="col-md-12">
            <ul class="list-group">
                {% for level in level2 %}
                <li class="list-group-item list-group-item-dark">
                    <a class="btn btn-success btn-block btn-lg" role="button"
                       href="level2/{{ level.slug }}"
                       style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 1.75rem;">
                        {{ level.level }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}