{% extends 'base.html' %}
<h1> Каталог</h1>
{% block content %}
<h2>{{level3.level}}</h2>
<h3>{{level3.descript_level}}</h3>

<div class="container">
    {% if groups %}
    <h3>Выберите место занятий: </h3>
    <ul>
        {% for group in groups %}
        {% if 'ОНЛАЙН' in level3.level %}
        <li>
            <p>Номер группы: {{group.uniq_id}}.</p>
            <p>Занятия проходят он-лайн.</p>
            <p>Расписание: {{group.schedule_active}}</p>
            <button class="auth_button" type="submit" name="form_auth_submit">Записаться</button>
        </li>
        {% else %}
        <li>
            <p>Номер группы: {{group.uniq_id}}.</p>
            <p>Адрес: {{ group.address }}</p>
            <p>Расписание: {{group.schedule_active}}</p>
            <button class="auth_button" type="submit" name="form_auth_submit">Записаться</button>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    <h3>Сейчас нет свободных групп. Посмотрите другие активности. </h3>{% endif %}
</div>
{% include "pagination.html" with page=groups %}
{% endblock %}
