{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container-fluid">
    <div class="row my-5">
        <h1 class="text-center">{{ message }}:</h1>
        <div class="col-md-6">
            {% include './group_details.html' %}
            <div class="container">
                <h5 class="text_center"><b>Расписание: </b>с {{ group.start_date }} до {{ group.end_date}}</h5>
                <h5 class="text-center"><b>день недели: </b>{{ group.weekday }}, время {{ group.start_time }} - {{group.end_time}}</h5>
            </div>
            <div class="container">
                <form action="" method="post">
                    {{ form.media }}
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-success btn-block btn-lg">Записаться</button>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/choice_2.png' %}" class="mx-auto d-block" width="500px">
        </div>
    </div>
</div>
{% endblock %}
