{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container-fluid">
    <div class="row my-5">
        <h1 class="text-center">Выберите время и дату посещения:</h1>
    </div>
</div>

<div class="container">
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
                <button type="submit" class="btn btn-success btn-block">Выберите ответ</button>
        </form>
</div>

<div class="col-md-12">
    <h5 class="text-center">{{group.schedule_active}}</h5>
    {% if 'ОНЛАЙН' in group.level %}
        <h5>{{group.level}}</h5>
    {% else %}
        <h5>{{group.level}}</h5>
    {% endif %}
    <img src="/static/images/success.png" class="mx-auto d-block" width="400px">
</div>
{% endblock %}
