{% extends 'base.html' %}
<h1> Каталог</h1>
{% block content %}
<div class="container-fluid">
    <h1>Выберите раздел по настроению: </h1>
</div>
<div class="container-fluid">
    <div class="row my-5">
        <div class="col-md-12">
            <ul class="list-group">
                {% for level in level1 %}
                <li class="list-group-item list-group-item-dark" style="font-size: 40px">
                    <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                       href="{% url 'catalog:level1_content' activity_type.id level.id %}">{{ level.level }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}