.menu-item{
    color: silver;
    display: inline;
    text-shadow: 1px 1px 1px #000;
    font-size: 25px;
}

footer{
    background-color: #128849;
    font-size: 25px;
}

.description{
    background-color: rgb(152, 251, 152);
    font-size: 25px;
}

h2{
    font-size: 45px;
    color: black;
    text-align: center;
    text-shadow: 2px 2px 2px #128849;
}

h3{
    font-size: 35px;
    color: black;
    text-align: center;
    text-shadow: 1px  #128849;
}

h4{
    font-size: 25px;
    color: black;
    text-align: left;
}

h5{
    font-size: 24px;
    color: black;
}

li{
    font-size: 20px;
}

.form-input{
    padding: 10px;
}

input{
    height: 35px;
    padding: 5px;
    width: 100%;
    margin: 5px 0 22px 0;
    font-size: 20px;
    display: inline-block;
}


input:focus{
    color: red;
}

.container{
    width: 800px;
    height: 150px;
    display: inline-block;
    margin: 10px 10px 10px 10px;
    margin-top: 30px
}

.auth_button:focus{
    color:red;
}


.alert{
    background-color: rgb(148, 146, 146);
    color: red;
    text-align:center;
}

.submit{
    display:flex;
    height: 45px;
}

.item-flex{
    display:flex;
    justify-content: space-between;
}

.nav-item{
    font-size: 30px;
}

.content{
    display: flex;
}

.page-link{
    font-size: 25px;
    color: #128849
}

.pagination .page-link {
    background: 128849;
    color: white;
}
