body{
    background-color: lightgray;
}

.header{
    background-color: #128849;
    height: 50px;
    font-size: 25px;
    margin-bottom: 100px;
}

.menu-item{
    color: silver;
    display: inline;
    text-shadow: 4px 4px 4px #000;
    font-size: 25px;
}

.footer{
    background-color: #128849;
    height: 120px;
    font-size: 25px;
    margin-top: 200px;
}

h1{
    font-size: 55px;
    color: silver;
    text-align: center;
    text-shadow: 4px 4px 4px #128849;
}

h2{
    font-size: 40px;
    color: silver;
    text-align: center;
    text-shadow: 1px 1px 1px #128849;
}

h3{
    font-size: 25px;
    color: silver;
    text-align: center;
    text-shadow: 1px 1px 1px #128849;
}

h4{
    font-size: 25px;
    color: black;
    text-align: left;
}

.form_login{
    font-size: 20px;
}

.form-input{
    padding: 10px;
}

input{
    height: 35px;
    padding: 5px;
    width: 100%;
    margin: 5px 0 22px 0;
    font-size: 20px;
    display: inline-block;
}

.auth_button{
    font-size: 35px;
    background-color: #128859;
}

input:focus{
    color: red;
}

.container{
    width: 800px;
    height: 180px;
    margin: 0 auto;
    display: inline-block;
}

.auth_button:focus{
    color:red;
}

.auth_button{
    width: 100%;
    padding: 16px;
    margin: 15px 0 15px 15px;
    cursor: pointer;
    color: silver;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

.alert{
    background-color: rgb(148, 146, 146);
    color: red;
    text-align:center;
}


.item-flex{
    display:flex;
    justify-content: space-between;
}