<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
    <script src="{% static 'smart-selects/admin/js/bindfields.js' %}"></script>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    {% block title %}
    <title>Еще не бабушка</title>
    {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100" style="background-color: lightgray">
<div class="wrapper flex-grow-1">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #128849">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if user.id %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index/">Главная страница</a></li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/logout/">Выйти</a></li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/test/">Пройти тест</a></li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/catalog/">Каталог</a></li>
                </ul>
                {% else %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index/">Главная страница</a></li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/signup/">Зарегистрироваться</a></li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/login/">Войти</a></li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/catalog/">Каталог</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</div>
</body>
   <footer>
        Наши контакты:<br/>
        телефон: +79151234567<br/> адрес: город Москва, Московский проспект, дом 10
    </footer>
</html>


