<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    {% block title %}
    <title>Еще не бабушка</title>
    {% endblock %}
</head>
<body>

<div class="header">
    {% if user.id %}
    <ul class="menu">
        <li class="menu-item"><a href="/logout/"
                                 class="nav-link">Выйти</a></li>
        <li class="menu-item"><a href="/test/1"
                                 class="nav-link">Пройти тест</a></li>
    </ul>
    {% else %}
    <ul class="menu">
        <li class="menu-item"><a href="/signup/"
                                 class="nav-link">Зарегистрироватся</a></li>
        <li class="menu-item"><a href="/login/"
                                 class="nav-link">Войти</a></li>

        <li class="menu-item"><a href="/catalog/"
                                 class="nav-link">Каталог</a></li>
        {% endif %}
    </ul>
</div>
{% block content %}
{% endblock %}

<div class="footer">Наши контакты:<br/>
телефон: +79151234567<br/> адрес: город Москва, Московский проспект, дом 10

</div>


</body>
</html>